
.w-60 {
    width: 60px;
}
.img{
    align-items: center;
    height: 200px;
    object-fit: cover;
}
.main{ 
    margin: auto;
}
.carts{
    padding: 1%;
}
.btn{
    margin: 2%;
}
.nav-item{margin: 2%;}
